[submodule "backend"]
	path = backend
	url = https://github.com/simplearabcode/simple-arab-code-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/simplearabcode/simple-arab-code-frontend.git
